@import "tailwindcss";

:root {
  --background: #e0fbfc;
  --foreground: #253237;
  --light-cyan: #e0fbfc;
  --light-blue: #c2dfe3;
  --cool-steel: #9db4c0;
  --blue-slate: #5c6b73;
  --jet-black: #253237;
}

.dark {
  --background: #253237;
  --foreground: #e0fbfc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-comfortaa: var(--font-comfortaa);
  --font-ubuntu: var(--font-ubuntu);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-comfortaa), sans-serif;
}
